nav {
    background-color: lightgray;
}

.main_body {
    color: #333333;
    #display: flex;
    margin-top: 5rem;
    background-color: black;
}

.nixons_signature {
    color: lightgray;
    position: relative;
    bottom: 0;
}